@media (min-width: 30em) {
  .sp-container {
    background-color: bisque;
  }

  .sp-main-area {
    display: flex;
    flex-direction: row;
    margin: 0 2em;
    gap: 1em;
    height: 80vh;
  }

  .sp-product-filter {
    width: 20%;
  }

  .sp-product-list {
    background-color: azure;
    width: 80%;
  }
}
