.teerex-navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.35);
}
.home > a,
.products > a,
.cart > a {
  text-decoration: none;
  color: black;
  all: unset;
  font-size: 1.4em;
  cursor: pointer;
}
